* {
  box-sizing: border-box;
}
#header, #footer{
  color: white;
}

h4 {
  margin-top: 8%;
  margin-left: 60%;
  color: #99999a;
}
.dropdown-menu {
    color: #99999a;
}

#arrow-img {
  margin-top: 2%;
}
button {
  background-color: #111118;
  margin: 0;
  border: none;
}
body {
  background-color: #111118;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: .15em;
}

.square {
  padding-top:35px;
  margin: 2%;
  width: 100px;
	height: 100px;
	background: #A17CFF;
}
#square1 {
  transform: translate(100px) rotate(20deg);
  transform-origin: 0 -250px;
}
#square2 {
  transform: rotate(-40deg);
}
#square3 {
  transform: rotate(20deg);
}
#square4 {
  transform: rotate(-20deg);
}

.circle {
  margin: 2%;
  width: 100px;
	height: 100px;
	background: #10DFAC;
	border-radius: 50px;
}

.triangle {
  margin: 2%;
  margin-left: 0;
  width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-top: 25px solid transparent;
	border-right: 50px solid #FF5736;
}
#triangle2 {
  transform: rotate(-25deg);
}
#triangle3 {
  transform: rotate(-50deg);
}
#triangle4 {
  transform: rotate(80deg);
}
#octokitty {
  transform: rotate(-20deg);
}
#twitter {
    transform: rotate(20deg);
}
#in {
  transform: rotate(-20deg);
}
.image {
  margin: 2%;
}

.shape-container {
  padding-top: 30%;
}

a {
  color: #3B3B3B;
}
/* project html*/
#project-row1 {
  margin: 5%;
}
#project-row2 {
  margin: 5%;
}

.img-thumbnail {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
}

.img-thumbnail:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
}
